body {
    background-color: #ff751a;
    font-family: "Impact";
    font-size: 24pt;
}

#bobbyLink {
    position:fixed;
    left:100%;
    top:100%;
    width:max-content;
    margin:0px;
    margin-left: -196px;
    margin-top: -60px;
}