body {
    background-color: #ff751a;
    font-family: "Impact";
    font-size: 24pt;
}

#links {
    position:fixed;
    left:100%;
    top:100%;
    width:max-content;
    margin:0px;
    margin-left: -400px;
    margin-top: -60px;
}

.link {
    margin-right: 20px;
}